<div class="container py-5">
  <h2 class="text-center mb-5">「<%= @post.title %>」の編集</h2>
  <%= render 'form', post: @post %>

  <div class="text-center mt-4">
    <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: '本当にこの投稿を削除しますか？' }, class: 'text-danger' %>
  </div>
</div>